In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
df = "dados/mean_std_features_chagas_10min.csv"
df = pd.read_csv(df)
df.head()

,patient_id,weight,Obito_MS,Time,class_1,HRV_MeanNN,HRV_SDNN,HRV_SDANN1,HRV_SDNNI1,HRV_SDANN2,...,std_HRV_SampEn,std_HRV_ShanEn,std_HRV_FuzzyEn,std_HRV_MSEn,std_HRV_CMSEn,std_HRV_RCMSEn,std_HRV_CD,std_HRV_HFD,std_HRV_KFD,std_HRV_LZC
0,1,0.752137,0,5.00,0.0,753.664917,50.171131,26.083733,40.386890,22.309383,...,0.334532,0.443904,0.260361,0.236980,0.086108,0.222056,0.223500,0.154676,0.749781,0.194716
1,2,1.491525,1,3.58,1.0,885.754517,210.999512,38.208199,204.616150,31.868872,...,0.283193,0.257328,0.199923,0.180509,0.040114,0.242877,0.224813,0.017831,1.181940,0.068443
2,3,0.752137,0,5.00,0.0,1121.980469,115.324974,49.859543,92.946884,38.129276,...,0.247584,0.373846,0.206491,0.180900,0.065865,0.201858,0.202841,0.079581,0.698057,0.140999
3,4,1.491525,1,1.18,1.0,835.883240,66.468002,24.099510,57.199764,20.871275,...,0.370307,0.339084,0.223232,0.254395,0.102772,0.264633,0.223327,0.055639,0.410579,0.146664
4,5,0.752137,0,5.00,0.0,1135.681641,1245.796875,1328.227661,1023.699219,2193.599365,...,0.558798,0.368859,0.398666,0.386365,0.393717,0.604422,0.529008,0.081077,1.026897,0.188402

In [18]:
df = df.drop(columns=['weight'])
df.head()

,patient_id,Obito_MS,Time,class_1,HRV_MeanNN,HRV_SDNN,HRV_SDANN1,HRV_SDNNI1,HRV_SDANN2,HRV_SDNNI2,...,std_HRV_SampEn,std_HRV_ShanEn,std_HRV_FuzzyEn,std_HRV_MSEn,std_HRV_CMSEn,std_HRV_RCMSEn,std_HRV_CD,std_HRV_HFD,std_HRV_KFD,std_HRV_LZC
0,1,0,5.00,0.0,753.664917,50.171131,26.083733,40.386890,22.309383,43.295193,...,0.334532,0.443904,0.260361,0.236980,0.086108,0.222056,0.223500,0.154676,0.749781,0.194716
1,2,1,3.58,1.0,885.754517,210.999512,38.208199,204.616150,31.868872,206.692551,...,0.283193,0.257328,0.199923,0.180509,0.040114,0.242877,0.224813,0.017831,1.181940,0.068443
2,3,0,5.00,0.0,1121.980469,115.324974,49.859543,92.946884,38.129276,101.630730,...,0.247584,0.373846,0.206491,0.180900,0.065865,0.201858,0.202841,0.079581,0.698057,0.140999
3,4,1,1.18,1.0,835.883240,66.468002,24.099510,57.199764,20.871275,60.388218,...,0.370307,0.339084,0.223232,0.254395,0.102772,0.264633,0.223327,0.055639,0.410579,0.146664
4,5,0,5.00,0.0,1135.681641,1245.796875,1328.227661,1023.699219,2193.599365,1180.054810,...,0.558798,0.368859,0.398666,0.386365,0.393717,0.604422,0.529008,0.081077,1.026897,0.188402

In [19]:
df.shape

(176, 184)

In [20]:
df.isnull().any().any()

np.True_

In [21]:
df.isnull().sum().sum()

np.int64(704)

In [22]:
df = df.dropna(axis=1)
df.isnull().sum().sum()

np.int64(0)

In [23]:
df = df.rename(columns={'class_1': 'Obito_MS_FU_5years'})
df.head()

,patient_id,Obito_MS,Time,Obito_MS_FU_5years,HRV_MeanNN,HRV_SDNN,HRV_SDANN1,HRV_SDNNI1,HRV_SDANN2,HRV_SDNNI2,...,std_HRV_SampEn,std_HRV_ShanEn,std_HRV_FuzzyEn,std_HRV_MSEn,std_HRV_CMSEn,std_HRV_RCMSEn,std_HRV_CD,std_HRV_HFD,std_HRV_KFD,std_HRV_LZC
0,1,0,5.00,0.0,753.664917,50.171131,26.083733,40.386890,22.309383,43.295193,...,0.334532,0.443904,0.260361,0.236980,0.086108,0.222056,0.223500,0.154676,0.749781,0.194716
1,2,1,3.58,1.0,885.754517,210.999512,38.208199,204.616150,31.868872,206.692551,...,0.283193,0.257328,0.199923,0.180509,0.040114,0.242877,0.224813,0.017831,1.181940,0.068443
2,3,0,5.00,0.0,1121.980469,115.324974,49.859543,92.946884,38.129276,101.630730,...,0.247584,0.373846,0.206491,0.180900,0.065865,0.201858,0.202841,0.079581,0.698057,0.140999
3,4,1,1.18,1.0,835.883240,66.468002,24.099510,57.199764,20.871275,60.388218,...,0.370307,0.339084,0.223232,0.254395,0.102772,0.264633,0.223327,0.055639,0.410579,0.146664
4,5,0,5.00,0.0,1135.681641,1245.796875,1328.227661,1023.699219,2193.599365,1180.054810,...,0.558798,0.368859,0.398666,0.386365,0.393717,0.604422,0.529008,0.081077,1.026897,0.188402

In [26]:
df.to_csv('dados/base_chagas.csv', index=False)

In [24]:
df.describe()

,patient_id,Obito_MS,Time,Obito_MS_FU_5years,HRV_MeanNN,HRV_SDNN,HRV_SDANN1,HRV_SDNNI1,HRV_SDANN2,HRV_SDNNI2,...,std_HRV_SampEn,std_HRV_ShanEn,std_HRV_FuzzyEn,std_HRV_MSEn,std_HRV_CMSEn,std_HRV_RCMSEn,std_HRV_CD,std_HRV_HFD,std_HRV_KFD,std_HRV_LZC
count,176.000000,176.000000,176.000000,176.000000,176.000000,176.000000,176.000000,176.000000,176.000000,176.000000,...,176.000000,176.000000,176.000000,176.000000,176.000000,176.000000,176.000000,176.000000,176.000000,176.000000
mean,88.500000,0.386364,3.720625,0.335227,919.730203,174.329891,107.589207,125.685798,113.099617,140.839307,...,0.304016,0.328755,0.218954,0.264704,0.140400,0.287037,0.258833,0.059631,0.998070,0.152163
std,50.950957,0.488305,1.879574,0.473417,179.689304,248.430517,256.399203,175.718289,336.652653,198.826038,...,0.124219,0.110431,0.085157,0.065096,0.109385,0.134911,0.127426,0.029883,1.352632,0.056417
min,1.000000,0.000000,0.060000,0.000000,577.498596,29.843473,5.601398,21.712072,3.703914,24.836241,...,0.005737,0.049123,0.055176,0.066299,0.021875,0.008472,0.029946,0.003892,0.011959,0.014610
25%,44.750000,0.000000,1.412500,0.000000,808.926132,70.830923,28.514503,57.519535,23.786130,60.918857,...,0.230968,0.267603,0.167706,0.230947,0.063756,0.195903,0.164691,0.038917,0.600877,0.116436
50%,88.500000,0.000000,5.000000,0.000000,898.133331,96.813236,37.607737,78.389580,32.095222,83.643166,...,0.295796,0.328140,0.208026,0.258298,0.104497,0.266494,0.238219,0.055744,0.803854,0.153659
75%,132.250000,1.000000,5.000000,1.000000,1000.567139,152.819088,58.955555,127.536617,46.456409,129.542641,...,0.367521,0.392218,0.274840,0.294655,0.186033,0.337484,0.323300,0.079667,1.042533,0.189216
max,176.000000,1.000000,5.000000,1.000000,1676.419556,1999.430176,1932.464233,1929.418823,2614.565674,2024.920776,...,0.738011,0.764498,0.491252,0.470310,0.544710,0.743032,0.688889,0.154676,17.431082,0.328299

In [27]:
num_classes = df['Obito_MS_FU_5years'].nunique()
num_classes

2

In [28]:
contagem_classes = df['Obito_MS_FU_5years'].value_counts()
contagem_classes

Obito_MS_FU_5years
0.0    117
1.0     59
Name: count, dtype: int64

In [9]:
caminho = "dados/chagas_dataset_oficial.xlsx"
df = pd.read_excel(caminho)
df.head()

,ID,Name,Filename,Date Holter,Time,Sex,Nat,Event (FU-5 years),Rassi Points,Rassi Score,...,Median QTPico/TPicoQ,QTPico/TPicoQ 5th,QTPico/TPicoQ 25th,QTpico/TpicoQ 75th,QTpico/TpicoQ 98th,Perc QTend TendQ > 1,Perc QTpico TpicoQ > 1,Age,Obito_MS,Obito_MS_FU-5 years
0,1,Adão Severo de Souza,004.dat,2013-05-22,5.00,1,PI,0,2,0,...,0.570776,0.470370,0.512397,0.651515,0.779141,0.266569,0.005805,62,0,0
1,2,Adélia Francelina Alves,007.dat,2010-07-08,3.58,0,PE,1,11,0,...,0.691630,0.276481,0.546624,0.878049,2.136263,0.480401,0.187053,58,1,1
2,3,Adguimar Freitas Borges,418.dat,2012-10-15,5.00,1,MG,0,2,0,...,0.476056,0.378476,0.442159,0.513678,0.722772,0.022707,0.005884,60,0,0
3,4,Agripino Pereira de Lima,014.dat,2005-01-10,1.18,1,PE,1,8,0,...,0.778281,0.472222,0.641975,0.909091,1.315389,0.686829,0.121351,51,1,1
4,5,Alexandre Ferreira Silva,018.dat,2012-10-10,5.00,1,RJ,0,5,0,...,0.523962,0.386861,0.454819,0.626556,1.406845,0.178180,0.035737,53,0,0