In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
caminho = "dados/chagas_dataset_oficial.xlsx"
df = pd.read_excel(caminho)
df.head()

,ID,Name,Filename,Date Holter,Time,Sex,Nat,Event (FU-5 years),Rassi Points,Rassi Score,...,Median QTPico/TPicoQ,QTPico/TPicoQ 5th,QTPico/TPicoQ 25th,QTpico/TpicoQ 75th,QTpico/TpicoQ 98th,Perc QTend TendQ > 1,Perc QTpico TpicoQ > 1,Age,Obito_MS,Obito_MS_FU-5 years
0,1,Adão Severo de Souza,004.dat,2013-05-22,5.00,1,PI,0,2,0,...,0.570776,0.470370,0.512397,0.651515,0.779141,0.266569,0.005805,62,0,0
1,2,Adélia Francelina Alves,007.dat,2010-07-08,3.58,0,PE,1,11,0,...,0.691630,0.276481,0.546624,0.878049,2.136263,0.480401,0.187053,58,1,1
2,3,Adguimar Freitas Borges,418.dat,2012-10-15,5.00,1,MG,0,2,0,...,0.476056,0.378476,0.442159,0.513678,0.722772,0.022707,0.005884,60,0,0
3,4,Agripino Pereira de Lima,014.dat,2005-01-10,1.18,1,PE,1,8,0,...,0.778281,0.472222,0.641975,0.909091,1.315389,0.686829,0.121351,51,1,1
4,5,Alexandre Ferreira Silva,018.dat,2012-10-10,5.00,1,RJ,0,5,0,...,0.523962,0.386861,0.454819,0.626556,1.406845,0.178180,0.035737,53,0,0

In [18]:
df.isnull().sum().sum()

np.int64(0)

In [19]:
df.shape

(176, 78)